.form-group {
  margin: 0 0.625rem 0.625rem;
}

.form-group label {
  font-size: 0.8125rem;
}

.form-group input {
  border: solid 0.0625rem #e2e2e7;
  border-radius: 0.3125rem;
  padding: 0.1875rem;
  width: 15.625rem;
}

.form-group textarea {
  border: solid 0.0625rem #e2e2e7;
  border-radius: 0.3125rem;
  padding: 0.1875rem;
  width: 15.625rem;
}

.form-group input[type=range] {
  -webkit-appearance: none;
  width: 15.625rem;
  height: 0.3125rem;
  background: #e2e2e7;
  border: none;
  border-radius: 0.1875rem;
}

.form-group input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: #e85a71;
  margin-top: -px-to-rem(4);
}

.actions {
  margin: 1.25rem 0.625rem 0.625rem;
}

.actions input {
  border: none;
  color: #fff;
}
