<%= form_for @task do |f| %>
  <div class="form-group">
    <div>
      <label for="task">Task</label>
    </div>
    <div>
      <%= f.text_field :name, required: true, class: 'form-control' %>
    </div>
  </div>

<% end %> %>
<form action="tasks.html" method="get">
  <div class="form-group">
    <div>
      <label for="task">Task</label>
    </div>
    <div>
      <input type="text" id="task" required />
    </div>
  </div>
  <div class="form-group">
    <div>
      <label for="priority">Priority</label>
    </div>
    <div>
      <input type="range" id="priority" />
    </div>
  </div>
  <div class="form-group">
    <div>
      <label for="difficulty">Difficulty</label>
    </div>
    <div>
      <input type="range" id="difficulty" />
    </div>
  </div>
  <div class="form-group">
    <div>
      <label for="tags">Tags</label>
    </div>
    <div>
      <input type="text" id="tags" />
    </div>
  </div>
  <div class="form-group">
    <div>
      <label for="due">Due</label>
    </div>
    <div>
      <input type="date" id="due" />
    </div>
  </div>
  <div class="form-group">
    <div>
      <label for="description">Description</label>
    </div>
    <div>
      <textarea rows="4" cols="20" id="description">
      </textarea>
    </div>
  </div>
  <get-location location-placeholder="Enter location..."></get-location>
  <div class="actions">
    <input type="submit" class="btn rounded shadowed-text red-bg" value="Create">
  </div>
</form>
