.form-group {
  margin: 0 px-to-rem(10) px-to-rem(10);

  label {
    font-size: px-to-rem(13);
  }

  input {
    border: solid px-to-rem(1) lighten($gray, 60%);
    border-radius: px-to-rem(5);
    padding: px-to-rem(3);
    width: px-to-rem(250);
  }

  textarea {
    border: solid px-to-rem(1) lighten($gray, 60%);
    border-radius: px-to-rem(5);
    padding: px-to-rem(3);
    width: px-to-rem(250);
  }

  input[type=range]{
    -webkit-appearance: none;
    width: px-to-rem(250);
    height: px-to-rem(5);
    background: lighten($gray, 60%);
    border: none;
    border-radius: px-to-rem(3);
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: px-to-rem(16);
    width: px-to-rem(16);
    border-radius: 50%;
    background: $red;
    margin-top: -px-to-rem(4);
  }
}

.actions {
  margin: px-to-rem(20) px-to-rem(10) px-to-rem(10);

  input {
    border: none;
    color: $white;
  }
}
